<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rockin' Home Kitchen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="d-flex justify-content-between border-bottom border-dark px-5 py-2 text-white">
        
        <h3 class="mr-5 h3">Welcome to the Rockin' Home Kitchen</h3>

        <div class="row">
            <a class="mr-3" href="/login_register"><u>Login/Register</u></a>
        </div>
                
    </header>

    <div class="container background mt-4 mb-3 pt-4 img">
        <div class="container mx-auto pr-5 pl-5 text-right">
            <h1 class="mt-5 mr-5 pt-3 pr-5 text_shine">Everyone Comes Knockin'</h1>
            <h1 class="mr-4 mt-5 font_size_idx text_shine">When this Kitchen's Rockin'</h1>
        </div>
        <div class="container content w-50 mt-5">
            <h6>Welcome to the Rockin' Kitchen!</h6>
            <p>A place for the true home Chef to share their favorite recipes and maybe find a little inspiration.</p>
            <p>We love great tasting food and great music.</p>
            <P>Come on in, crank the tunes and let's get cooking.</P>
        </div>
    </div>
    
</body>
</html>